<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    
    <!-- 
        Note: All main functionality uses Plugins instead of Observers:
        - EarnPointsPlugin: Earns points on order place
        - DeductPointsPlugin: Deducts points when using loyalty discount
    -->

    <!-- Refund points when order is refunded -->
    <event name="sales_order_creditmemo_save_after">
        <observer name="loyalty_refund_points" 
                  instance="Elsherif\LoyaltySystem\Observer\RefundPointsObserver"/>
    </event>
</config>
